/* .singleProduct {
    display: flex;
    border-bottom: 1px solid lightgreen;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
} */


.singleProduct {
    display: flex;
    align-items:flex-start;
    border-bottom: 2px solid rgb(170, 200, 170);
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

.text {
    flex: 1;
  margin-left: 20px;
    
  
}
.pic {
flex: 0 0 200px; /* Adjust the width as needed */
height: auto;
 
}

@media screen and (max-width: 768px) {
    .singleProduct {
      flex-direction: column;
    }
    
    .pic {
      margin-bottom: 25px;
    }
    
    .text {
      margin-left: 5px;
    }
  }

.productName {
    color: blue;
}

button {
    width: 150px;
    height: 40px;
    margin: 20px;
    color: black;
    background-color: goldenrod;
    border-radius: 8px;
    border: 2px solid rgb(53, 42, 42);
    cursor: pointer;
}